<!-- Sidebar -->
{% load static %}
<aside class="sidebar trans-0-4">
<!-- Button Hide sidebar -->
<button class="btn-hide-sidebar ti-close color0-hov trans-0-4"></button>

<!-- - -->
<ul class="menu-sidebar p-t-95 p-b-70">
  <li class="t-center m-b-13">
    <a href="/" class="txt19">Home</a>
  </li>

  <li class="t-center m-b-13">
    <a href="#" class="txt19">Gallery</a>
  </li>

  <li class="t-center m-b-13">
    <a href="{% url 'about' %}" class="txt19">About</a>
  </li>

  <li class="t-center m-b-13">
    <a href="#" class="txt19">News</a>
  </li>

  <li class="t-center m-b-33">
    <a href="{% url 'contact' %}" class="txt19">Contact</a>
  </li>

  <li class="t-center">
    <!-- Button3 -->
    <a href="#" class="btn3 flex-c-m size13 txt11 trans-0-4 m-l-r-auto">
      Ask for quote
    </a>
  </li>
</ul>

<!-- - -->
<div class="gallery-sidebar t-center p-l-60 p-r-60 p-b-40">
  <!-- - -->
  <h4 class="txt20 m-b-33">
    Gallery
  </h4>

  <!-- Gallery -->
  <div class="wrap-gallery-sidebar flex-w">
    {# TODO make for for this gallery #}
    {% for item in "abcdefgh" %}
        <a class="item-gallery-sidebar wrap-pic-w" href="{% static "images/photo-gallery-01.jpg" %}" data-lightbox="gallery-footer">
          <img src="{% static "images/photo-gallery-thumb-01.jpg" %}" alt="GALLERY">
        </a>
    {% endfor %}
  </div>
</div>
</aside>
