<!-- Footer -->
{% load static %}
<footer class="bg1">
  <div class="container p-t-40 p-b-70">
    <div class="row">
      <div class="col-sm-6 col-md-4 p-t-50">
        <!-- - -->
        <h4 class="txt13 m-b-33">
          Contact Us
        </h4>

        <ul class="m-b-70">
          <li class="txt14 m-b-14">
            <i class="fa fa-map-marker fs-16 dis-inline-block size19" aria-hidden="true"></i>
            {{ company.address }}
          </li>

          <li class="txt14 m-b-14">
            <i class="fa fa-phone fs-16 dis-inline-block size19" aria-hidden="true"></i>
            {{ company.phone }}
          </li>

          <li class="txt14 m-b-14">
            <i class="fa fa-envelope fs-13 dis-inline-block size19" aria-hidden="true"></i>
            {{ company.email }}
          </li>
        </ul>

        <!-- - -->
        <h4 class="txt13 m-b-32">
          Opening Times
        </h4>
        <ul>
          <li class="txt14">
            {{ company.hours_operation }}
          </li>
        </ul>
      </div>

      <div class="col-sm-6 col-md-4 p-t-50">
        <!-- - -->
        <h4 class="txt13 m-b-33">
          Latest projects
        </h4>
        {#T ODO adjust this for #}
        {% for project in latest_projects %}
          <div class="m-b-25">
            <span class="fs-13 color2 m-r-5">
              <i class="fa fa-bookmark" aria-hidden="true"></i>
            </span>
            <a href="{% url 'project_detail' project.slug %}" class="txt15" title="{{project.title}}">
              {{ project.title }}
            </a>

            <p class="txt14 m-b-18">
              {{ project.description }}
              <a href="#" class="txt15">
               {{ project.client }}
              </a>
            </p>

            <span class="txt16">
              {{ project.created_at|date:"d M Y" }}
            </span>
          </div>
        {% endfor %}
      </div>

      <div class="col-sm-6 col-md-4 p-t-50">
        <!-- Gallery Footer  -->
        <h4 class="txt13 m-b-38">
          Gallery
        </h4>
        <!-- Gallery footer -->
        <div class="wrap-gallery-footer flex-w">
          {# DEFINE WELL PHOTOS here #}
          {% for thumb_photo in thumbnail_photos %}
            <a class="item-gallery-footer wrap-pic-w" href="{{ thumb_photo.picture.url}}" data-lightbox="gallery-footer" title="{{ thumb_photo.title }}">
              <img src="{{ thumb_photo.picture.url}}" alt="{{ thumb_photo.description }}">
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="end-footer bg2">
    <div class="container">
      <div class="flex-sb-m flex-w p-t-22 p-b-22">
        <div class="p-t-5 p-b-5">
          <a href="{{ company.linkedin }}" class="fs-15 c-white"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          <a href="{{ company.facebook }}" class="fs-15 c-white"><i class="fa fa-facebook m-l-18" aria-hidden="true"></i></a>
          <a href="{{ company.twitter }}" class="fs-15 c-white"><i class="fa fa-twitter m-l-18" aria-hidden="true"></i></a>
        </div>

        <div class="txt17 p-r-20 p-t-5 p-b-5">
          MillWorkPioneer Copyright &copy; 2018 All rights reserved   |  Made with <i class="fa fa-heart"></i> by <a href="https://www.linkedin.com/in/xtornasol512/" target="_blank">Jesus A. G.</a>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Back to top -->
<div class="btn-back-to-top bg0-hov" id="myBtn">
  <span class="symbol-btn-back-to-top">
    <i class="fa fa-angle-double-up" aria-hidden="true"></i>
  </span>
</div>

<!-- Container Selection1 -->
<div id="dropDownSelect1"></div>
