<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock title %} | MillWorkPioneers</title>
  {# TODO create icons #}
  {# TODO create favicon #}
  <link rel="apple-touch-icon" sizes="180x180" href="/static/brand/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/brand/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/brand/icons/favicon-16x16.png">
  <link rel="manifest" href="/static/brand/icons/site.webmanifest">
  <link rel="mask-icon" href="/static/brand/icons/safari-pinned-tab.svg" color="#2d8ed4">
  <link rel="shortcut icon" href="/static/brand/icons/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="MillWorkPioneers">
  <meta name="application-name" content="MillWorkPioneers">
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="msapplication-config" content="/static/brand/icons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  {# TODO create SEO TAGS #}
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "fonts/themify/themify-icons.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "vendor/animate/animate.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "vendor/css-hamburgers/hamburgers.min.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "vendor/animsition/css/animsition.min.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "vendor/select2/select2.min.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "vendor/daterangepicker/daterangepicker.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "vendor/slick/slick.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "vendor/lightbox2/css/lightbox.min.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/util.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
  {% block cssblock %}
  {% endblock cssblock %}
</head>
<body class="animsition">
  {% include "misc/header.html" %}
  {% include "misc/aside.html" %}

  {% block header %}
  {% endblock header %}

  {% block content %}
  {% endblock content %}

  {% include "misc/footer.html" %}

  <!-- Modal -->
  <div class="modal fade" id="MessageModal" tabindex="-1" role="dialog" aria-labelledby="MessageModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="MessageModalTitle">Hello!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {# Messaging framework #}
          {% if messages %}
            {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{message.tags}}{% else %}alert-warning{% endif %} alert" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>{{ message }}</strong>
              </div>
            {% endfor %}
          {% endif %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Dissmiss</button>
        </div>
      </div>
    </div>
  </div>

  {% block footer %}
  {% endblock footer %}

  <!-- Scripts -->
  <script type="text/javascript" src="{% static "vendor/jquery/jquery-3.2.1.min.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/animsition/js/animsition.min.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/bootstrap/js/popper.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/select2/select2.min.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/daterangepicker/moment.min.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/daterangepicker/daterangepicker.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/slick/slick.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/slick-custom.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/parallax100/parallax100.js" %}"></script>
  <script type="text/javascript">
        $('.parallax100').parallax100();
  </script>
  <script type="text/javascript" src="{% static "vendor/countdowntime/countdowntime.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/lightbox2/js/lightbox.min.js" %}"></script>
  <script src="{% static "js/main.js" %}"></script>
  <script>
    {% if messages %}
      var messages = true;
    {% else %}
      var messages = false;
    {% endif %}

    if(messages){
      $('#MessageModal').modal('show');
    }else{
      console.log("Welcome to MillWorkPioneers!");
    }
  </script>

  {% block jsblock %}
  {% endblock jsblock %}
</body>
</html>
