{% extends "website/base.html" %}
{% load static %}
{% block title %}Careers{% endblock title %}
{% block cssblock %}

<style>
  .btn-cta{
    color: #fff;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 2em;
    padding-left: 2em;
}
</style>

{% endblock cssblock %}
{% block content %}
  <!-- Title Page -->
  <section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url({% static "components/contact_us.jpg" %})">
    <h2 class="tit6 t-center">
      Careers
    </h2>
  </section>

  <section id="ask-for-quote" class="section-booking bg1-pattern p-t-100 p-b-110">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 p-b-30">
          <div class="t-center">
            <span class="tit2 t-center">
              Apply Here
            </span>

            <h3 class="tit3 t-center m-b-35 m-t-2">
              Join us
            </h3>
          </div>

          <form class="wrap-form-booking" method="POST" action="{% url 'askquote_form' %}">{% csrf_token %}
            <div class="row">
              <div class="col-md-6">

                <!-- Installation -->
                <span class="txt9">
                  Installation
                </span>

                <div class="wrap-inputtime size12 bo2 bo-rad-10 m-t-3 m-b-23">
                  <!-- Select2 -->
                  <select class="selection-1" name="installation">
                    <option value="1">Union or UBC #</option>
                    <option value="2">Seeking Sponsorship</option>
                  </select>
                </div>
                <!-- Project Name -->
                <div id="union-select">
                  <span class="txt9">
                    Union or UBC Number <small>(Optional)</small>
                  </span>

                  <div class="wrap-inputname size12 bo2 bo-rad-10 m-t-3 m-b-23">
                    <input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="union_ubc_number" placeholder="Union UBC Number (Optional)" required>
                  </div>
                </div>

                <!-- Office -->
                <span class="txt9">
                  Office
                </span>

                <div class="wrap-inputtime size12 bo2 bo-rad-10 m-t-3 m-b-23">
                  <!-- Select2 -->
                  <select class="selection-1" name="office">
                    <option value="Estimating Department">Estimating Department</option>
                    <option value="Project Management">Project Management</option>
                    <option value="HR Department">HR Department</option>
                    <option value="IT Department">IT Department</option>
                    <option value="Basic Application">(Basic Application)</option>

                  </select>
                </div>

                <!-- Finish Carpenter-->
                <span class="txt9">
                  Finish Carpenter
                </span>

                <div class="wrap-inputtime size12 bo2 bo-rad-10 m-t-3 m-b-23">
                  <!-- Select2 -->
                  <select class="selection-1" name="prevailing_wage" required>
                    <option value="NO">NO</option>
                    <option value="YES">YES</option>

                  </select>
                </div>


              </div>

              <div class="col-md-6">
                <!-- Name -->
                <span class="txt9">
                  Name
                </span>

                <div class="wrap-inputname size12 bo2 bo-rad-10 m-t-3 m-b-23">
                  <input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="name" placeholder="Your Name" required>
                </div>

                <!-- Phone -->
                <span class="txt9">
                  Phone
                </span>

                <div class="wrap-inputphone size12 bo2 bo-rad-10 m-t-3 m-b-23">
                  <input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="phone" placeholder="Your Phone" required>
                </div>

                <!-- Email -->
                <span class="txt9">
                  Email
                </span>

                <div class="wrap-inputemail size12 bo2 bo-rad-10 m-t-3 m-b-23">
                  <input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="email" placeholder="Your Email" required>
                </div>

                <!-- Years of Experience -->
                <span class="txt9">
                  Years of Experience <small>(Optional)</small>
                </span>

                <div class="wrap-inputname size12 bo2 bo-rad-10 m-t-3 m-b-23">
                  <input class="bo-rad-10 sizefull txt10 p-l-20" type="number" name="years_experience" placeholder="Years of experience (Optional)">
                </div>

              </div>
            </div>

            <div class="wrap-btn-booking flex-c-m m-t-6">
                <!-- Brief Message -->
                <textarea class="bo-rad-10 size35 bo2 txt10 p-l-20 p-t-15 m-b-10 m-t-3" name="description"
                  placeholder="Interest on other area please described in this place" required>
                </textarea>
              </div>

            <div class="wrap-btn-booking flex-c-m m-t-6">
              <!-- Button3 -->
              <button type="submit" class="btn3 flex-c-m size13 txt11 trans-0-4">
                Send Apply
              </button>
            </div>
            <div class="wrap-btn-booking flex-c-m m-t-6">
              <p>After apply by send us your information please fill up the following pdf </p>
            </div>
            <div class="wrap-btn-booking flex-c-m m-t-6">
              <a class="btn btn-success btn-cta trans-0-4" href="{% static "pdf/employment_application.pdf" %}" download>DOWNLOAD APPLICATION PDF</a>
            </div>
          </form>
        </div>

        <div class="col-lg-6 p-b-30 p-t-18">
          <div class="wrap-pic-booking size3 bo-rad-10 hov-img-zoom m-l-r-auto">
            <img src="{% static "components/ask_quote.jpg" %}" alt="IMG-OUR">
          </div>
        </div>
      </div>
    </div>
  </section>

  {% include "components/ask_mail.html" %}
{% endblock content %}
