{% extends "website/base.html" %}
{% load static %}
{% block title %}Gallery{% endblock title %}

{% block cssblock %}
{% endblock cssblock %}

{% block content %}
  <!-- Title Page -->
  <section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url({% static "components/gallery.jpg" %});">
    <h2 class="tit6 t-center">
      Gallery
    </h2>
  </section>

  <!-- Gallery -->
  <div class="section-gallery p-t-118 p-b-100">
    <div class="wrap-label-gallery filter-tope-group size27 flex-w flex-sb-m m-l-r-auto flex-col-c-sm p-l-15 p-r-15 m-b-60">
      <button class="label-gallery txt26 trans-0-4 is-actived" data-filter="*">
        All Photo
      </button>
      {% for tag in  tags %}
        <button class="label-gallery txt26 trans-0-4" data-filter=".{{ tag.name }}" title="{{ tag.description }}">
          {{ tag.name }}
        </button>
      {% endfor %}
    </div>

    <div class="wrap-gallery isotope-grid flex-w p-l-25 p-r-25">
      {% for photo in  gallery_photos %}
        <!-- GALLERY ITEM -->
        <div class="item-gallery isotope-item bo-rad-10 hov-img-zoom {% for tag in photo.tags %}{{ tag.name }} {% endfor %}">
          {{ photo.name }}
          <img src="{{ photo.picture.url }}" alt="{{ photo.description }}">

          <div class="overlay-item-gallery trans-0-4 flex-c-m">
            <a class="btn-show-gallery flex-c-m fa fa-search" href="{{ photo.picture.url }}" data-lightbox="gallery"></a>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="pagination flex-c-m flex-w p-l-15 p-r-15 m-t-24 m-b-50">
      <a href="#" class="item-pagination flex-c-m trans-0-4 active-pagination">1</a>
      <a href="#" class="item-pagination flex-c-m trans-0-4">2</a>
      <a href="#" class="item-pagination flex-c-m trans-0-4">3</a>
    </div>
  </div>

  {% include "components/ask_mail.html" %}

{% endblock content %}

{% block js_before_main %}
  <script type="text/javascript" src="{% static "vendor/isotope/isotope.pkgd.min.js" %}"></script>
{% endblock js_before_main %}
