{% load static %}
  <!-- Alliances -->
  <section class="section-chef bgwhite p-t-115 p-b-95">
    <div class="container t-center">
      <span class="tit2 t-center">
        Our
      </span>

      <h3 class="tit5 t-center m-b-50 m-t-5">
        Alliances
      </h3>

      <div class="row">

        {% for client in  client_members %}
          <div class="col-md-8 col-lg-4 m-l-r-auto p-b-30">
            <!-- -Block5 -->
            <div class="blo5 pos-relative p-t-60">
              <div class="pic-blo5 size14 bo4 wrap-cir-pic hov-img-zoom ab-c-t">
                <a href="{{client.website}}" title="Official Page of {{ client.name }}"><img src="{{ client.logo.url }}" alt="Official logo of {{ client.name }}"></a>
              </div>

              <div class="text-blo5 size34 t-center bo-rad-10 bo7 p-t-90 p-l-35 p-r-35 p-b-30">
                <a href="#" class="txt34 dis-block p-b-6">
                  {{ client.name }}
                </a>

                <span class="dis-block t-center txt35 p-b-25">
                  Alliance
                </span>

                <p class="t-center">
                  {{ client.headline }}
                </p>
              </div>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
  </section>
