{% load static %}
<!-- Review -->
<section class="section-review p-t-115">
  <!-- - -->
  <div class="title-review t-center m-b-2">
    <span class="tit2 p-l-15 p-r-15">
      Our Customers Say
    </span>

    <h3 class="tit8 t-center p-l-20 p-r-15 p-t-3">
      Reviews
    </h3>
  </div>

  <!-- - -->
  <div class="wrap-slick3">
    <div class="slick3">

      {% for review in reviews %}
        <div class="item-slick3 item1-slick3">
          <div class="wrap-content-slide3 p-b-50 p-t-50">
            <div class="container">
              <div class="pic-review size14 bo4 wrap-cir-pic m-l-r-auto animated visible-false" data-appear="zoomIn">
                {% if review.avatar %}
                  <img src="{{review.avatar.url}}" alt="review.name">
                {% else %}
                  <img src="{% static "images/avatar-01.jpg" %}" alt="IGM-AVATAR">
                {% endif %}

              </div>

              <div class="content-review m-t-33 animated visible-false" data-appear="fadeInUp">
                <p class="t-center txt12 size15 m-l-r-auto">
                    {{ review.description }}
                </p>

                <div class="star-review fs-18 color0 flex-c-m m-t-12">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star p-l-1" aria-hidden="true"></i>
                  <i class="fa fa-star p-l-1" aria-hidden="true"></i>
                  <i class="fa fa-star p-l-1" aria-hidden="true"></i>
                  <i class="fa fa-star p-l-1" aria-hidden="true"></i>
                </div>

                <div class="more-review txt4 t-center animated visible-false m-t-32" data-appear="fadeInUp">
                  {{ review.name }} ˗ {{ review.place }}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="wrap-slick3-dots m-t-30"></div>
  </div>
</section>
